@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

.cl-internal-b3fm6y{
    display: none !important;
}
.cl-card{
    border-radius: 5px !important;
}
.cl-signUp-start{
    width: 400px !important;
}

.cl-logoImage{
    width: 165px !important;
    height: 165px !important;
    margin-left: 80px !important;
}

.ant-drawer-title {
    color: #fff !important;
  }
  
  /* Change close button color */
  .ant-drawer-close {
    color: #fff !important;
  }

  /* Custom styles for disabled button */
.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  background-color: #F8E8B4 !important;
  border-color: #d9d9d9 !important; 
  color: black !important; 
}

.ant-upload-list-item .anticon-delete {
  color: #EAB308 !important;
}

.ant-upload-list-item-container { 
  word-wrap: break-word !important;
  height: 50% !important;
  width: 50% !important;
  display: flex !important;
}

.ant-modal .ant-modal-content{
  background-color: #EAB308 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #31304D;
}
::-webkit-scrollbar-thumb{
  background: #EAB308;
}
input {
  border: 1px solid #cecece !important;
  height: 45px;
}

textarea{
  min-height: 100px;
}

.antd-cancel:hover {
  background-color: #31304D !important;
  color: #EAB308 !important;
}
.antd-group-button:hover{
  background-color: #EAB308 !important;
  color: #31304D !important;
  
}

#react-aria5540149288-\:rs\: {
  margin-left: 0 !important;
}
.ant-modal-title{
  background-color: #EAB308 !important;
  justify-content: center !important;
}
.ant-modal-close-x{
  color: #31304D !important;
}